{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'dist/leaflet-groupedlayercontrol.min.css' %}">
    <style>
        #gis {
            width: 80%;
            height: 700px;
        }
    </style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/leaflet-groupedlayercontrol.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'dist/leaflet-groupedlayercontrol.min.js.map' %}"></script> -->
</head>

<body>
    <p>This is my first GeoDjango Web App!</p>

    <br>

    <script type="text/javascript">
        function dataset_layers(map, options) {
            var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 24,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            });
            var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 24,
                attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
            });

            var datasets = new L.GeoJSON.AJAX("{% url 'wards_datasets' %}", {
                style: function colors(feature) {
                    switch (feature.properties.region_nam) {
                        case "Mara":
                            return {
                                color: "orange",
                                    fillOpacity: 0.8
                            }
                            break;

                        case "Arusha":
                            return {
                                color: "purple",
                                    fillOpacity: 0.8
                            }

                            case "Pwani":
                                return {
                                    color: "yellow",
                                        fillOpacity: 0.8
                                }

                                case "Kilimanjaro":
                                    return {
                                        color: "green",
                                            fillOpacity: 0.8
                                    }

                                    case "Mbeya":
                                        return {
                                            color: "yellowgreen",
                                                fillOpacity: 0.8
                                        }
                                        // And the list can go on
                                        default:
                                            break;
                    }
                },
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.ward_name.toString());
                }

            });
            var incidences_datasets = new L.GeoJSON.AJAX("{% url 'incidences_datasets' %}", {
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.name.toString());
                }

            });
            datasets.addTo(map);
            incidences_datasets.addTo(map);

            var baseLayers = {
                "OSM": osm,
                "OpenTopoMap": OpenTopoMap
            }

            var groupedOverlays = {
                "Layers": {
                    "region_nam": datasets,
                    "name": incidences_datasets
                }

            };

            L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

        }
    </script>

    {% leaflet_map 'gis' callback="window.dataset_layers" %}
</body>

</html>