{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #gis {
            width: 80%;
            height: 700px;
        }
    </style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.min.js' %}"></script>
</head>
<body>
    <p>This is my first GeoDjango Web App!</p>

    <br>

    <script type="text/javascript">
        function dataset_layers(map, options) {
            var datasets = new L.GeoJSON.AJAX("{% url 'wards_datasets' %}", {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.ward_name.toString());
                }

            });
            var incidences_datasets = new L.GeoJSON.AJAX("{% url 'incidences_datasets' %}", {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.name.toString());
                }

            });
            datasets.addTo(map);
            incidences_datasets.addTo(map);
        }
    </script>

    {% leaflet_map 'gis' callback="window.dataset_layers" %}
</body>
</html>